@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Almarena Neue";
  src: url("/fonts/AlmarenaNeue-Regular.woff2") format("woff2"),
    url("/fonts/AlmarenaNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Almarena Neue";
  src: url("/fonts/AlmarenaNeue-Bold.woff2") format("woff2"),
    url("/fonts/AlmarenaNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.tajawal-extralight {
  font-family: "Tajawal", serif;
  font-weight: 200;
  font-style: normal;
}

.tajawal-light {
  font-family: "Tajawal", serif;
  font-weight: 300;
  font-style: normal;
}

.tajawal-regular {
  font-family: "Tajawal", serif;
  font-weight: 400;
  font-style: normal;
}

.tajawal-medium {
  font-family: "Tajawal", serif;
  font-weight: 500;
  font-style: normal;
}

.tajawal-bold {
  font-family: "Tajawal", serif;
  font-weight: 700;
  font-style: normal;
}

.tajawal-extrabold {
  font-family: "Tajawal", serif;
  font-weight: 800;
  font-style: normal;
}

.tajawal-black {
  font-family: "Tajawal", serif;
  font-weight: 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html[dir="rtl"] {
  text-align: right;
  direction: rtl;
}

html[dir="ltr"] {
  text-align: left;
  direction: ltr;
}
